/*Global*/
*{
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica;
}
/*Header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
    background-color: #666;
}

#nav-title{
    margin-right: auto;
    font-size: 1.5sem;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 2rem;/*Coloca el mismo espaciado en los elementos hijos por ambos lados*/
    padding: 0 20px;
}
header a{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
}

header a :hover{
    color: #b2dfdb;
}

/*DROPDOWN: Menu Desplegable */
.dropdown{
    display: block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 2);
    z-index: 1;    
}
.dropdown-content > li{
    display: block;
    padding: 20px 10px;
}
.dropdown-content > li > a{
    text-decoration: underline;
    color: #666;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropdown-button{
    text-decoration: underline;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header{
        flex-direction: column;
        align-items: flex-start;
        width: 45%;
    }
    header ul{
        margin-top: 20px;
        flex-direction: column;
        padding: 0;
        height: 100vh;
        justify-content: flex-start;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    body{
        background-color: yellow;
    }
    header{
        border: solid;
    }
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
   
    header{
        flex-direction: column;
        align-items: flex-start;
        width: 45%;
    }
    header ul{
        margin-top: 20px;
        flex-direction: column;
        padding: 0;
        height: 100vh;
        justify-content: flex-start;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
    body{
        background-color: purple;
    }
    header{
        border: solid;
    }
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    header{
        border: solid;
    }
}