h1{
    /* font-family  */
    /* que pasa si una fuente no existe */
    /* en css tenemos la opcion de poner varios tipos de letra */
    /* para si no funciona 1 pase a las otras y asi consecutivamente */
    font-family: 'Cinzel', serif;
    font-size: 45px;
    /* font-weiht puede recibir numeros */
    /* rango del 100 al 900 */
    /* ! importante : Al poner un peso en font-weight no hay que usar unidades de medida*/
    font-weight: 400;
    /* text-decoration */
    text-decoration: underline;
}
    /* *Nota
        *700= bold 
        *900= bolder 
    * */
.parrafo{
    font-family: "Dank Mono", monospace;
    /* font-size sierve para maniupalr el tamaño del texto */
    font-size: 100px;
    font-weight: bold;
}
    /* Un poco de teorias de colores */
    /* Tipos de colores
    Hexadecimal
    RGB -> red green blue
    RGBA -> red green blue alpha
    Alpha -> Opacidad 0 - 1
    hsl ->hue saturation lightness
    */

.link-a{
    font-size: 32px;
    font-family: "DanK Mono", monospace;
    /* Al poner none estamos invalidando la propiedad */
    text-decoration: none;
    /* Con la propiedad Color: sirve para poder cambiar el color de texto */
    /* Hexadecimal: Es una forma en la cual podemos aplicar un color en 6 digitos alfanumericos */
    color: rgb(124, 17, 255);

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    background-color: rgba(124, 17, 255,0.3);
}

.span-1{
    text-decoration: line-through;
    text-transform: capitalize;
}

.span-2{
    text-decoration: overline;
}

.span-3{
    text-decoration: underline;
    text-decoration-color: red;
    text-transform: uppercase;
}

.span-4{
    text-decoration: line-through;
    text-decoration-color: blue;
    text-transform: capitalize;
}

.span-5{
    text-decoration: double;
    background-color: aqua;
    text-decoration-color: #fff;
}
/* 
    text-transform::
        lowercase => texto en minuscula
        uppercase => texto en mayuscula
        capitalize => Primera del texto en mayuscula
*/
.span-6{
    color: #fff;
    background-color: #f2f2;

}
/* Para que css pueda leer un font desde un archivo tenemos que usar @font-face esto nos permite cargar una fuente
externa y darle un nombre para su uso */
/* el font-family en este caso puede tener cualquier nombre, pero por buena practica
lo mejor es nombrarla con su nombre oficial */
@font-face{
    font-family: "Nanum Myeongjo";
    src: url("../fonts/NanumMyeongjo-Regular.ttf");
}

.fuente-archivo{
    font-family:"Nanum Myeongjo" ;
}