/*selector simple*/
h1{
    color: gray;
    text-decoration: underline;
}

h2{
    color: blue;

}
/* selector id # */
#cabecera1{
    color: red;
}
.parrafos_rojos{
    color: red;
}
.parrafos_amarillo{
    color: yellow;
}

